--- a/arch/arm/boot/dts/sun8i-h3.dtsi
+++ b/arch/arm/boot/dts/sun8i-h3.dtsi
@@ -50,6 +50,10 @@
 / {
 	interrupt-parent = <&gic>;
 
+	aliases {
+		ethernet0 = &emac;
+	};
+
 	cpus {
 		#address-cells = <1>;
 		#size-cells = <0>;
@@ -125,6 +129,7 @@
 			clock-output-names = "apb0_pio", "apb0_ir";
 		};
 
+/* disable, either wrong reg address (should be clk@01c200xx?) or should have more than 2 clocks
 		ir_clk: ir_clk@01f01454 {
 			compatible = "allwinner,sun4i-a10-mod0-clk";
 			reg = <0x01f01454 0x4>;
@@ -132,6 +137,7 @@
 			clocks = <&osc32k>, <&osc24M>;
 			clock-output-names = "ir";
 		};
+*/
 	};
 
 	soc {
@@ -140,6 +146,11 @@
 		#size-cells = <1>;
 		ranges;
 
+		syscon: syscon@01c00000 {
+			compatible = "allwinner,sun8i-h3-syscon"; /* ,"syscon" don't add as it will match ti_scm */
+			reg = <0x01c00000 0x34>;
+		};
+
 		dma: dma-controller@01c02000 {
 			compatible = "allwinner,sun8i-h3-dma";
 			reg = <0x01c02000 0x1000>;
@@ -354,7 +365,8 @@
 						 "PF4", "PF5";
 				allwinner,function = "mmc0";
 				allwinner,drive = <SUN4I_PINCTRL_30_MA>;
-				allwinner,pull = <SUN4I_PINCTRL_NO_PULL>;
+				/* allwinner,pull = <SUN4I_PINCTRL_NO_PULL>; */
+				allwinner,pull = <SUN4I_PINCTRL_PULL_UP>; /* needed for FreeBSD boot to succeed */
 			};
 
 			mmc0_cd_pin: mmc0_cd_pin@0 {
@@ -577,6 +589,20 @@
 			#size-cells = <0>;
 		};
 
+		emac: ethernet@1c30000 {
+			compatible = "allwinner,sun8i-h3-emac";
+			reg = <0x01c30000 0x104>, <0x01c00030 0x4>;
+			reg-names = "emac", "syscon";
+			interrupts = <GIC_SPI 82 IRQ_TYPE_LEVEL_HIGH>;
+			resets = <&ccu RST_BUS_EMAC>, <&ccu RST_BUS_EPHY>;
+			reset-names = "ahb", "ephy";
+			clocks = <&ccu CLK_BUS_EMAC>, <&ccu CLK_BUS_EPHY>;
+			clock-names = "ahb", "ephy";
+			#address-cells = <1>;
+			#size-cells = <0>;
+			status = "disabled";
+		};
+
 		gic: interrupt-controller@01c81000 {
 			compatible = "arm,cortex-a7-gic", "arm,cortex-a15-gic";
 			reg = <0x01c81000 0x1000>,
@@ -601,6 +627,7 @@
 			#reset-cells = <1>;
 		};
 
+/* disable, ir_clk either has wrong reg address (should be clk@01c200xx?) or should have more than 2 clocks
 		ir: ir@01f02000 {
 			compatible = "allwinner,sun5i-a13-ir";
 			clocks = <&apb0_gates 1>, <&ir_clk>;
@@ -610,6 +637,7 @@
 			reg = <0x01f02000 0x40>;
 			status = "disabled";
 		};
+*/
 
 		r_pio: pinctrl@01f02c00 {
 			compatible = "allwinner,sun8i-h3-r-pinctrl";
