--- a/arch/arm/boot/dts/sun8i-h3-orangepi-pc.dts
+++ b/arch/arm/boot/dts/sun8i-h3-orangepi-pc.dts
@@ -184,3 +184,17 @@
 	/* USB VBUS is always on */
 	status = "okay";
 };
+
+&emac {
+	pinctrl-names = "default";
+	phy-mode = "mii";
+	phy = <&phy1>;
+
+	allwinner,use-internal-phy;
+	allwinner,leds-active-low;
+	status = "okay";
+
+	phy1: ethernet-phy@1 {
+		reg = <1>;
+	};
+};
